<footer class="container">       
    <ul>
        <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a> </li>
        <li> <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i> </a> </li>
        <li> <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a> </li>
        <li> <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a> </li>
    </ul>
    @ 2019 made by Hassan Farahani
</footer>