<div class="header container">
    <!-- <div class="profile"><a href="/profile">Profile</a></div> -->
    <div class="profile">        
        <li><a href="/">Dashboard</a></li>
        <li><a href="/profile">Profile</a></li>
    </div>
    <div class="navbar">        
        <li><a href="/logout">Logout</a></li>
    </div>
</div>